<body>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <% if current_user %>
      <!-- <%= link_to 'New Post', new_post_path %> -->
      <%= link_to new_post_path, class:"waves-effect waves-light btn" do %>
        <i class="fa fa-plus-square-o" aria-hidden="true"> New Post</i>
      <% end %>
    <% else %>
    <% end %>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <div class="col s6">
                <%= post.user.email %><br>
                <%= post.description %>
                <br>
              </div>
              <div class="col s6" style="text-align:right">
                <%= time_ago_in_words(post.created_at) %>
              </div>
            </div>

            <div class="card-image">
              <img>
                <%= image_tag post.image %>
              </img>
            </div>


            <div class="card-action">

              <p><%= post.get_upvotes.size %> likes
                <br>
                <!-- gets users who upvote -->
                <!-- "model"."action_array"."attribute"."for each" do |"function name|" -->
                <!-- "attribute"."value" -->
                <% post.get_upvotes.voters.each do |voter| %>
                <%= voter.email %>
                &nbsp
                <% end %>
              </p>

            </div>

            <div class="card-action">
              <% if current_user %>
                <% if current_user.voted_up_on? post %>
                  <a>
                    <%= link_to dislike_post_path(post), method: :put do %>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    <% end %>
                  </a>
                <% else %>
                  <a>
                    <%= link_to like_post_path(post), method: :put do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <% end %>
                  </a>
                <% end %>
              <% else %>
              <% end %>
              <!-- Show edit option if current user is same as post user -->
              <% if current_user %>
                <% if current_user.id == post.user_id%>
                  <%= link_to 'edit', edit_post_path(post) %>
                <% else %>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
    <!-- if logged in the allow new post -->
    <br>
  </div>
</body>
